<ion-header>
  <ion-toolbar>
    <ion-title>demo07</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add">add</ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="http://file02.16sucai.com/d/file/2015/0408/779334da99e40adb587d0ba715eca102.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://file02.16sucai.com/d/file/2014/0704/e53c868ee9e8e7b28c424b56afe2066d.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://g.hiphotos.baidu.com/zhidao/pic/item/c83d70cf3bc79f3d6e7bf85db8a1cd11738b29c0.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://file02.16sucai.com/d/file/2015/0128/8b0f093a8edea9f7e7458406f19098af.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col>
        免费注册
      </ion-col>
      <ion-col class="myFlex">
        <span>忘记密码</span> 
      </ion-col> 
    </ion-row>
    <ion-row align-items-start>
      <ion-col>
        [start] ion-col
      </ion-col>
      <ion-col>
        [start] ion-col
      </ion-col>
      <ion-col align-self-end>
        [start] ion-col [end]
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
