<ion-header>
  <ion-toolbar>
    <ion-title>demo06-grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col push=1>
        <ion-button>
          Col1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button>
          Col1
        </ion-button>123
      </ion-col>
    </ion-row>
    <ion-row justify-content-end>
      <ion-col size='3'>
        <ion-button>
          Col2
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
