<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-demo13-lianxi></app-demo13-lianxi> -->
<!-- <app-demo10-order></app-demo10-order> -->
<!-- <app-demo09-service></app-demo09-service> -->
<!-- <app-demo08-pipe></app-demo08-pipe>
<app-demo06-modle></app-demo06-modle>
<app-demo05-cart></app-demo05-cart>
<app-demo05-header></app-demo05-header>
<app-demo04-dor></app-demo04-dor>
<app-demo02-lianxi></app-demo02-lianxi>
<app-demo03-directive></app-demo03-directive> -->

