<ion-header>
  <ion-toolbar>
    <ion-title>demo05-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content pullingText="下拉刷新" refreshingText="正在刷新"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let tmp of myList">
      <ion-label>{{tmp}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="lines-small" loadingText="努力加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
