<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
 <input type="checkbox" value="cj" name="yx" v-model="yy" @click="con"><span>吃鸡</span>
 <input type="checkbox" value="wz" name="yx" v-model="yy" @click="con"><span>王者</span>
 <input type="checkbox" value="rg" name="yx" v-model="yy" @click="con"><span>人格</span>
 <input type="checkbox" value="lm" name="yx" v-model="yy" @click="con"><span>联盟</span>
</div>
<script>
var vm=new Vue({
  el:"#app",
  data:{
    yy:[]
  },
  methods:{
    con(){
      console.log(this.yy)
    }
  }
})
</script>
</body>
</html>